/* navbar for blog page  */

.navbar-blog {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #b0e8fa;
    padding: 10px 20px;
    margin: 40px 100px;
  }
  
  .navbar-int-2 {
    flex: 2;
  }
  
  .gi-2{
    font-size: xx-large;
    font-weight: 900;
  }
  
  .gg-2{
    font-size: large;
    font-weight: 700;
    color: #747171;
  }
  .navbar-int h1 {
    margin: 0;
  }
  
  .navbar-bu {
    flex: 0;
  }

  
  .caption{
    text-align: center;
    font-size: large;
    font-weight: 900;
    color: hsl(281, 98%, 47%);
    margin: 0px 400px 0px 400px;
  }
  
  .btn-b2 {
    background-color: #3b96f8;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  .btn-b2:hover {
    background-color: #74dcff;
    color: #fff;
  }


  /* blog page body main part  */

  .main1{
    padding: 10px 20px;
    margin: 40px 100px;
    font-size: large;
    font-weight: 900;
    background-color: #f1eded;
    color:  #0505ea;
  }

  .main2{
    padding: 10px 20px;
    margin: 40px 100px;
    font-size: large;
    font-weight: 900;
    background-color: #f1eded;
    color: #0505ea;
  }


  