
/* General styling */

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar for home page  */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b0e8fa;
  padding: 30px 30px;
  margin: 0px 0px;
}

.navbar-int {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: xx-large;
  font-weight: 900;
  color: #747171;
}

.caption {
  color: #747171;
}

.btn-bl {
  background-color: #3b96f8;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-bl:hover {
  background-color: #74dcff;
  color: #fff;
}

/* Home page body main part */

.container {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 30px;
  margin: 100px 200px;
  padding: 0;
}

.btn-c,
#btn-01a,
#btn-01b,
#btn-01c,
#btn-01d,
#btn-01e,
#btn-01f {
  background-color: #3b96f8;
  color: #fff;
  padding: 10px 80px;
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-c:hover,
#btn-01a:hover,
#btn-01b:hover,
#btn-01c:hover,
#btn-01d:hover,
#btn-01e:hover,
#btn-01f:hover {
  background-color: #74dcff;
  color: #fff;
}

.im {
  margin: 30px 20px;
}

/* Section direction */

.section {
  text-align: center;
  background-color: #b0e8fa;
}

.section.four {
  background-color: #FFFFFF;
}

/* Functional input area */

input[type="text"] {
  width: 70px;
  margin: 10px 10px;
}

.four {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 100px 100px;
}

.four-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Functional output area */

#output01a,
#output01b,
#output01c,
#output01d,
#output01e,
#output01f {
  width: 70px;
  margin: 20px 20px;
}

/* Non-functional convert buttons */

.btn-d {
  background-color: #3b96f8;
  color: #fff;
  padding: 10px 20px;
  margin: 10px 10px;
  border: none;
  border-radius: 5px;
  font-size: 10px;
  cursor: pointer;
}

.btn-d:hover {
  background-color: #74dcff;
  color: #fff;
}

.footer {
  height: 100px;
  width: 100%;
  background-color: #b0e8fa;
  padding: 10px 30px;
  margin: 0px 0px;
  text-align: center;
  font-size: large;
  color: #747171;
}

/* blog page body main part  */

.main1{
  text-align: left;
  padding: 10px 20px;
  margin: 40px 100px;
  font-size: large;
  font-weight: 900;
  background-color: #f1eded;
  color:  #0505ea;
}

.main2{
  text-align: left;
  padding: 10px 20px;
  margin: 40px 100px;
  font-size: large;
  font-weight: 900;
  background-color: #f1eded;
  color: #0505ea;
}


/* Responsive styling */

@media (max-width: 1200px) {
  .navbar {
    margin: 0px 0px;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 30px;
    margin: 100px 100px;
    padding: 0;
  }

  .btn-c,
  #btn-01a,
  #btn-01b,
  #btn-01c,
  #btn-01d,
  #btn-01e,
  #btn-01f {
    padding: 10px 40px;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 0px;
  }

  .navbar-bu {
    margin-top: 10px;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    gap: 30px;
    margin: 100px 100px;
    padding: 0;
  }


  .btn-c,
  #btn-01a,
  #btn-01b,
  #btn-01c,
  #btn-01d,
  #btn-01e,
  #btn-01f {
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .navbar {
    margin: 0px 0px;
  }

  .container {
    margin: 0 10px 300px;
  }

  .btn-c,
  #btn-01a,
  #btn-01b,
  #btn-01c,
  #btn-01d,
  #btn-01e,
  #btn-01f {
    padding: 10px 10px;
  }
}

@media (max-width: 768px) {
.main1, .main2 {
      margin: 30px 50px;
      padding: 10px 15px;
      font-size: medium;
  }
}

@media (max-width: 480px) {
  .main1, .main2 {
      margin: 20px 20px;
      padding: 10px 10px;
      font-size: small;
  }
}


@media (max-width: 768px) {
  .footer {
      font-size: medium;
  }
}

@media (max-width: 480px) {
  .footer {
      font-size: small;
  }
}
